.topic-detail-section {
    border: 2px solid lightseagreen;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.is-this-test {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.ans-option {
    background-color: lightgreen;
}

.ans-option:hover {
    background-color: lightseagreen;
}
